.image-selector-require {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background-color: darkseagreen;
    background: url('/src/assets/images/psyche.jpg');
}

.image-selector-require-select {
    background-color: aqua;
}
