.miscellaneous {
    background-color: darkkhaki;
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;

    .links {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .link + .link {
        margin-top: 1rem;
    }
}
