.miscellaneous {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darkkhaki;

    .links {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .link + .link {
        margin-top: 1rem;
    }
}
