// Our custom fonts

@font-face {
    font-family: 'Prince Valiant';
    src: url('~assets/fonts/Prince-Valiant.ttf') format('truetype');
}

@font-face {
    font-family: 'Knewave';
    src: url('~assets/fonts/knewave-webfont.woff') format('woff');
}

@font-face {
    font-family: 'League Spartan';
    src: url('~assets/fonts/leaguespartan-bold.woff2') format('woff2');
}