.image-selector-es6 {
    background: url('~assets/images/psyche.jpg');
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    //background-color: darkseagreen;
}

.image-selector-es6-select {
    background-color: deeppink;
}
