.font-zarbi {
    background-color: cornflowerblue;
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;

    .font-1 {
        font: 16pt 'League Spartan';
    }

    .font-2 {
        font: 16pt 'Prince Valiant';
    }

    .font-3 {
        font: 16pt 'Knewave';
    }

}
