.home {
    background-color: azure;

    .links {
        display: flex;
        flex-direction: column;

    }

    .link + .link {
        margin-top: 1rem;
    }

    .input-text-browser-sync {
        width: 20rem;
    }
}
